/*Floating Switch------*/
.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:140px;
    right: 20px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 5px 5px 8px #999;

}
.my-float{
    margin-top:19px;
}

i.fa.fa-plus.my-float {
    font-size: 13px;}

/*Floating Switch------ End*/